/* reset.css */

/* Remove espaçamentos padrão */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Define display padrão para elementos HTML5 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Define altura mínima e tamanho de fonte padrão */
html {
    box-sizing: border-box;
    font-size: 100%;
}

/* Define tamanho da caixa padrão para todos os elementos */
*, *:before, *:after {
    box-sizing: inherit;
}

/* Remove decorações de lista */
ol, ul {
    list-style: none;
}

/* Remove estilos padrão de links */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove estilos padrão de tabelas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Remove estilo de botão e campo de formulário */
button, input, select, textarea {
    font: inherit;
    margin: 0;
}

/* Remove sombras em inputs no Firefox */
input {
    border-radius: 0;
}

/* Remove a aparência padrão do botão */
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Corrige o problema de altura da linha no IE */
textarea {
    overflow: auto;
}
